.login-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 576) {
    .login-form {
        display: flex;
        /* grid-template-columns: repeat(2, 1fr); */
    }
}